        <table>
          <% comments.each do |comment| %>
          <tr>
            <td><%= image_tag comment.user.get_profile_image, size:"50x50" %><br>
                <%= comment.user.name %><br>
                <%= comment.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td><%= comment.comment %></td>
            <td>
              <% if comment.user == current_user %>
                <%= link_to "Destroy", book_comment_path(comment.book, comment), method: :delete, remote: true, class: "btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
          <% end %>
        </table>

<div>
    <%= form_with(model:[book, Comment.new], local: false) do |f| %>
      <div>
        <%= f.text_area :comment, :size=>"60x3",placeholder: "コメントする" %>
      </div>
      <div>
        <%= f.submit "送信する" %>
      </div>
        <% end %>
</div>